html {
  background-color: orange;
  font-size: 20px;
}

ul {
  background: rgb(0, 255, 136);
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
h1 {
  color: whitesmoke;
  font-size: 5em;
}
